:root {
    --data-grid-expired-color: rgb(59, 173, 166);
    --data-grid-expired-opacity: 0.8;
}

.data-grid-container {
    height: 75vh;
    display: flex;
    flex-flow: column;
    margin: 20px;
}

.data-grid {
    flex: 1 1 auto;
}

.generated-label {
    object-fit: cover;
    border: 1px solid #ddd;
    margin: auto;
    margin-bottom: 10px;
    width: 30%;
    height: 30%;
}

.generated-labels-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}
