.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.msd-image-container {
    align-items: flex-end;
    align-content: flex-end;
    text-decoration: none;
}

.nav-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link-button {
    text-decoration: none;
    color: inherit;
}